@font-face {
    font-family: "Begum Medium";
    src: url(fonts/begum-medium.otf);
}

@font-face {
    font-family: "Mozaic GEO";
    src: url(fonts/MozaicGEO-Medium.otf);
}

@font-face {
    font-family: "Proxima Sera";
    src: url(fonts/ProximaSera-Regular.woff);
}

@font-face {
    font-family: "Usual";
    src: url(fonts/Usual-Regular.otf);
}

:root {
    --primary-green: #005030;
    --primary-gold: #FFB81C;
    --secondary-avocado: #A4D65E;
    --poly-gradient: linear-gradient(to right, var(--primary-gold), var(--secondary-avocado));
    --green-check: #32cd32;
}

* {
    color: var(--primary-gold);
}

body {
    background-color: var(--primary-green);
    padding-top: 96px; /* for top-nav */
    margin: 0;
}

.top-nav {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 16px 64px;
    background-image: var(--poly-gradient);
    background-size: 0%;
    background-repeat: no-repeat;
    transition: background-size 1.5s ease-in-out;
}

.top-nav.show-bg {
    background-size: 100%;
}

.top-nav-bg {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--secondary-avocado);
}

.top-nav * {
    background-color: transparent;
    color: var(--primary-green);
}

a {
    text-decoration: none;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Mozaic GEO";
    font-size: 20px;
}

.nav-link::after {
    content: "";
    height: 4px;
    width: 0%;
    background: var(--primary-green);
    transition: width 0.2s;
}

.nav-link:hover::after {
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo:hover {
    opacity: 0.75;
}

.logo img {
    width: 64px;
}

.logo div:first-of-type {
    margin-left: -6px;
}

.logo div {
    font-family: 'Begum Medium';
    font-size: 32px;
    margin: 2px;
}

h1 {
    font-size: 60px;
    font-family: 'Begum Medium';
    margin: 48px 96px;
}

.side-nav {
    font-family: "Proxima Sera";
    font-size: 20px;
    display: inline-block;
    margin: 16px 32px;
}

.side-nav > ul {
    width: 284px;
    list-style-type: none;
    border-top: 2px solid var(--primary-gold);
    padding: 8px 0 0 0;
    margin: 0;
    font-size: 20px;
}

.side-nav ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.expandable ul {
    padding: 0 0 0 32px;
}

.expandable {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease-in-out;
}

.expandable.show {
    max-height: 600px;
}

.side-nav li {
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.1s;
}

.side-nav li.hovered {
    background-color: color-mix(in srgb, var(--primary-gold), transparent 20%);
}

.side-nav li.hovered i {
    color: black;
}

.side-nav li.active {
    background-color: var(--primary-gold);
}

.side-nav li.active * {
    color: black;
}

.side-nav li.active i {
    rotate: 90deg;
}

.side-nav a {
    width: 100%;
    padding: 8px;
}

.side-nav a:hover {
    color: black;
}

.side-nav button {
    border-width: 0;
    border-radius: 50%;
    padding: 0;
    margin-left: auto;
    background-color: transparent;
    cursor: pointer;
}

.side-nav i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-angle-right {
    padding: 12px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: rotate 0.2s;
}

.fa-angle-right:hover {
    rotate: 90deg;
}

.sidenav-and-content {
    display: flex;
    gap: 32px;
}

.content {
    margin: -48px 0 0 0;
    flex: 2;
}

.check-green {
    color: var(--green-check);
}

.check-green i {
    color: var(--green-check);
}

.content a {
    color: var(--secondary-avocado);
}

.content a:hover {
    text-decoration: underline;
}

h2 {
    font-family: "Proxima Sera";
    font-size: 48px;
}

p {
    font-family: "Usual";
    font-size: 18px;
    line-height: 1.7;
    margin: 48px 0;
}

img.accreditation {
    float: left;
    padding: 4px;
    margin: 16px 16px 4px 4px;
    width: 400px;
    border: 2px solid var(--primary-gold);
}

.side-panels {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin: 32px;
    font-family: "Proxima Sera";
    font-size: 24px;
}

.side-panels > a, .side-panels > div {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--primary-gold);
    background-color: var(--primary-gold);
    align-items: center;
    width: 100%;
}

.side-panels * {
    color: var(--primary-green);
}

.side-panels img {
    width: 100%;
}

.announcements {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 0;
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 0;
}

.contact p {
    font-size: 16px;
    margin: 0;
}

.no-content-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.no-content-message img {
    width: 32%;
}

.no-content-message h2 {
    font-size: 32px;
}

.content.accreditation {
    width: 100%;
    padding-right: 15%;
}

.content.accreditation img {
    width: 50%;
    padding: 4px;
    margin: 0 32px 16px 0;
    float: inline-start;
    border: 2px solid var(--green-check);
}

.content.accreditation > p {
    font-size: 20px;
    margin: 0;
}

.content.accreditation > h3 {
    font-family: "Begum Medium";
    font-size: 32px;
    padding: 0;
    margin: 16px;
}

.content.accreditation > h3, .content.accreditation i {
    color: var(--green-check);
}

.peo-so {
    display: flex;
    gap: 32px;
    margin: 48px 0;
}

.peo-so > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--secondary-avocado);
    color: var(--primary-green);
    font-size: 28px;
    font-family: "Usual";
    padding: 24px;
    border: 2px solid var(--primary-gold);
}

.peo-so > div h3 {
    font-size: 24px;
    text-align: center;
    color: black;
    margin: 4px;
}

.peo-so > div h4 {
    font-size: 16px;
    color: var(--primary-green);
    margin: 0;
}

.peo-so > div p.note {
    color: var(--primary-green);
    font-size: 16px;
    text-decoration: none;
}

.peo-so > div p {
    color: black;
    font-size: 18px;
    margin: 32px 0 16px;
    text-decoration: underline;
}

.peo-so > div ol {
    margin: 0;
}

.peo-so > div li {
    color: black;
    font-size: 16px;
    padding: 4px;
}

#line-chart {
    margin: 64px 0;
}