@font-face {
    font-family: "Begum Medium";
    src: url(fonts/begum-medium.otf);
}

@font-face {
    font-family: "Mozaic GEO";
    src: url(fonts/MozaicGEO-Medium.otf);
}

@font-face {
    font-family: "Proxima Sera";
    src: url(fonts/ProximaSera-Regular.otf);
}

:root {
    --primary-green: #005030;
    --primary-gold: #FFB81C;
    --secondary-avocado: #A4D65E;
    --poly-gradient: linear-gradient(to right, var(--primary-gold), var(--secondary-avocado));
}

* {
    color: var(--primary-green);
    font-family: "Proxima Sera";
    color: var(--primary-gold);
    /* border: 2px solid red; */
}

body {
    background-color: var(--primary-green);
    margin: 0;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 16px 64px;
    background-image: var(--poly-gradient);
}

nav * {
    background-color: transparent;
    color: var(--primary-green);
}

a {
    text-decoration: none;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Mozaic GEO";
    font-size: 20px;
}

.nav-link::after {
    content: "";
    height: 4px;
    width: 0%;
    background: var(--primary-green);
    transition: width 0.2s;
}

.nav-link:hover::after {
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo:hover {
    opacity: 0.75;
}

.logo img {
    width: 64px;
}

.logo div:first-of-type {
    margin-left: -6px;
}

.logo div {
    font-family: 'Begum Medium';
    font-size: 32px;
    margin: 2px;
}

h1 {
    font-size: 60px;
    font-family: 'Begum Medium';
    margin: 48px 96px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 4px;
    list-style-type: none;
    border-top: 2px solid var(--primary-gold);
    padding: 8px 0 0 0;
    margin: 16px;
    font-size: 20px;
}

.sidebar li {
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.1s;
}

.sidebar li.hovered {
    background-color: color-mix(in srgb, var(--primary-gold), transparent 20%);
}

.sidebar li.hovered i {
    color: var(--primary-green);
}

.sidebar li.active {
    background-color: var(--primary-gold);
}

.sidebar li.active * {
    color: var(--primary-green);
}

.sidebar li.active i {
    rotate: 90deg;
}

.sidebar a {
    width: 100%;
    padding: 8px;
}

.sidebar a:hover {
    color: var(--primary-green);
}

.sidebar button {
    border-width: 0;
    border-radius: 50%;
    padding: 0;
    margin-left: auto;
    background-color: transparent;
    cursor: pointer;
}

.sidebar i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-angle-right {
    padding: 12px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: rotate 0.2s;
}

.fa-angle-right:hover {
    rotate: 90deg;
}